.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/*JQuery Form Validation CSS Start*/
#errorContainer, #errorContainerModal, #errorContainer-category, .errorContainer {
    display: none;
    overflow: auto;
    background-color: #FFDDDD;
    border: 1px solid #FF2323;
    border-radius: 4px;
    padding-top: 0;
    margin: 10px 0;
}

#errorContainer, #errorContainerModal, #errorContainer-category > p, .errorContainer > p {
    padding: 20px 20px 0;
}

#errorContainer, #errorContainerModal, #errorContainer-category label {
    float: none;
    width: auto;
}

/*label.error {color:#cc0000;}*/
input.error, select.error, .select2.error {
    border: 1px solid #cc0000 !important;
    border-radius: 5px !important;
    border-bottom-color: red !important;
}

.bold {
    font-weight: bold !important;
}

.black {
    color: #000000 !important;
}

.bold_underlined {
    font-weight: bold !important;
    text-decoration: underline !important;
}

.select2-container--default .select2-selection--single {
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
/*JQuery Form Validation CSS End*/

/*Template custom css*/
.card-header .heading-elements a,
.card-header .heading-elements-toggle a {
    padding: 5px 10px;
}

body.menu-expanded img.brand-logo {
    margin-left: 43px;
}

.main-menu-header {
    background-color: rgb(22, 32, 41);
}

.main-menu.menu-dark .navigation > li.open .current > a {
    color: #ffffff !important;
}

.main-menu.menu-dark .navigation > li.active {
    border-left: 2px solid #00E4FF !important;
}

label.control-label {
    vertical-align: middle;
    padding-top: 6px;
}

/*JQery DataTable Custom CSS*/
.dataTables_length, .dataTables_info {
    float: left !important;
}

.dataTables_filter, .dataTables_paginate {
    float: right !important;
}

.dt-buttons, .dataTables_length, .dataTables_filter {
    padding-bottom: 10px;
}

.dataTables_info, .dataTables_paginate {
    padding-top: 5px;
}

.select-info {
    padding-left: 10px;
}

.dataTables_length {
    padding-left: 70px;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 1.00em !important;
    white-space: nowrap;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #E8F5A2 !important;
}

table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
    color: black !important;
}

/*scrollbar css*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.header_right {
    padding-bottom: 6px !important;
}